{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <p>
      {% if post.title %}
      <b class="archive__item-title">
      {% if post.github %}
      <a href="{{ post.github }}">{{ post.title }}: {{ post.desc }}</a><br />
      {% else %}
      {{ post.title }}: {{ post.desc }}<br />
      {% endif %}
      </b>
      {% endif %}
      {% if post.cran %}
      Also on <a href="{{ post.cran }}">CRAN</a><br />
      {% endif %}
      {% if post.date %}
      {{ post.date | default: "1900-01-01" | date: "%Y-%m-%d"  }}
      {% endif %}
    </p>
    
  </article>
</div>
