/*
  People profile
  ========================================================================== */

.people__item {
    min-height: 200px; 
}

.people__avatar {
  display: block;
  vertical-align: top;
  width: auto;
  height: auto;
  clear: both;

  img {
    max-width: 175px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid $border-color;
    // small screen behavior
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($large) {
	float: left; // only float left on big screens
    }
  }
}

.people__text {
    // small screen behavior
    clear: both;
    text-align: center;
    // large screen behavior
    @include breakpoint($large) {
	clear: none;
	text-align: left;
	padding-left: 200px; // 175px;
    }
    
    h2, h3, h4, h5, h6 {
	clear: none;
	margin: 0;
	padding: 0;
    }
}
